@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/opensans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	
	background-color: #ffffff;
}

.inner {
	overflow-x: hidden;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.main-header {
	width: 1160px;
	margin: 0 auto;
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #ffffff), color-stop(11%, #f7e296));
	background-image: -webkit-linear-gradient(#ffffff 11%, #f7e296 11%);
	background-image: -o-linear-gradient(#ffffff 11%, #f7e296 11%);
	background-image: linear-gradient(#ffffff 11%, #f7e296 11%);
}
.header-wrapper {
	width: 1040px;
	margin: 0 auto;
}
.main-header-logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.search {
	position: relative;
	margin: 0;
	margin-top: 5px;
}

.search input {	
	border: 2px solid transparent;
	
	background-color: transparent;
	color: #000000;
}
.search input:focus {
	outline: none;
	border-bottom: 2px solid #000000;
}

.search input[type="submit"] {
	display: none;
}
.search input[type="text"] {
	height: 45px;
	width: 320px;
	padding-left: 36px;
	
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 1px 50%;
}
.search input[type="text"]:focus + input[type="submit"] {
	display: inline-block;
	position: absolute;
	right: -85px;
	top: 0;	
	
	padding: 15px 19px;
	border: 2px solid #000000;
	
	vertical-align: top;

	cursor: pointer;
}
.search input[type="text"]:focus + input[type="submit"]:hover {
	background-color: #000000;
	color: rgba(255, 255, 255, 1);
}
.search input[type="submit"]:active {
	display: block;

	background-color: #000000;	
	color: rgba(255, 255, 255, 0.3);
}

.search input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search input:hover::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}
.search input:hover:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.main-navigation {
	padding-top: 0px;
	padding-bottom: 50px;
}
.main-navigation .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	width: 1040px;
	margin: auto;
	padding-top: 2px;
}
.main-navigation ul {
	padding: 0;
	margin: 0;
}
.main-navigation .site-header-navigation  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	position: relative;
	
	margin-top: 27px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.site-header-navigation .catalog-navigation {
	display: none;
	
	width: 1100px;
	padding: 24px 0 34px 60px;
	margin-left: -60px;
	
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	background-color: #f7e296;
	color: #000000;
	letter-spacing: 0;
	text-transform: none;
}
.add-menu:hover .catalog-navigation {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	
	z-index: 2;
}
.catalog-navigation .separation {
	list-style: none;
}
.catalog-navigation .separation:first-of-type {
	margin-right: 35px;
} 
.catalog-navigation .separation:nth-of-type(2) {
	margin-right: 70px;
}


.site-header-navigation .add-menu {
	position: relative;
	
	margin-right: 290px;
	padding-right: 30px;
}
.site-header-navigation .add-menu:after {
	content: " ";
	position: absolute;
	top: 5px;
	right: 0;
	
	width: 20px;
	height: 20px;
	
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
.site-header-navigation li:nth-of-type(2) {
	margin-right: 35px;
}
.site-header-navigation li:nth-of-type(3) {
	margin-right: 102px;
}
.site-header-navigation li:nth-of-type(4) {
	position: absolute;
	right: -3px;
} 

.user-header-navigation,
.site-header-navigation,
.catalog-navigation {
	list-style: none;
}

.user-header-navigation a,
.site-header-navigation a,
.catalog-navigation a {
	color: #000000;
}

.main-navigation .user-header-navigation {
	margin-top: 15px;
}
.user-header-navigation .sign-out a:hover {
	color: rgba(0, 0, 0, 1);
}
.user-header-navigation .sign-out a:active {
	color: rgba(0, 0, 0, 0.6);
}

.main-header a:hover,
.main-header a:focus {
	color: rgba(0, 0, 0, 0.6);
}
.main-header a:active {
	color: rgba(0, 0, 0, 0.3);
}

form + .user-header-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	margin-left: auto;
	width: 500px;
	
	font-size: 15px;
	line-height: 30px;
}
.user-header-navigation li:first-of-type {
	position: relative;
	
	padding-left: 27.5px;
}
.user-header-navigation li:first-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation li:nth-of-type(2) {
	margin-left: 217px;
}
.user-header-navigation li:last-of-type {
	position: relative;
	
	margin-left: 44px;
	padding-left: 20px;
}
.user-header-navigation li:last-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation li.sign-out {
	margin-left: 20px;
}
.user-header-navigation .compare {
	position: relative;
	
	margin-left: 65px;
	padding-left: 20px;
}
.user-header-navigation .compare:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0px;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation .sign-out a {
	color: rgba(0, 0, 0, 0.3);
}
.user-header-navigation li:first-of-type:hover:before,
.user-header-navigation .compare:before,
.user-header-navigation li:last-of-type:hover:before,
.user-footer-navigation li:first-of-type:hover:before,
.user-footer-navigation .compare:hover:before,
.user-footer-navigation li:last-of-type:hover:before {
	opacity: 0.6;
}
.user-header-navigation li:first-of-type:hover:active,
.user-header-navigation .compare:hover:active,
.user-header-navigation li:last-of-type:hover:active,
.user-footer-navigation li:first-of-type:hover:active,
.user-footer-navigation .compare:hover:active,
.user-footer-navigation li:last-of-type:hover:active {
	opacity: 0.3;
}

/* Main */
.main-wrapper {
	width: 1160px;
	margin: 0 auto;
}
.index .main-wrapper {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #f7e296), color-stop(13%, #ffffff));
	background-image: -webkit-linear-gradient(#f7e296 13%, #ffffff 13%);
	background-image: -o-linear-gradient(#f7e296 13%, #ffffff 13%);
	background-image: linear-gradient(#f7e296 13%, #ffffff 13%);
}
.content-wrapper {
	width: 1040px;
	
	margin: 0 auto;
}
.slider {
	position: relative;
	
	margin: 0 auto;
	margin-bottom: 93px;
}

.slider-controls {
  position: absolute;
  bottom: 142px;
  right: 5px;
  
  font-size: 0;
	
  z-index: 20;
}
.slider-controls label {
  display: inline-block;
	position: relative;
	
  width: 12px;
  height: 12px;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #000000;
  border-radius: 50%;
	
  background-color: transparent;
	vertical-align: top;
	
  cursor: pointer;
}

#product-1:checked ~ .container #slide1,
#product-2:checked ~ .container #slide2,
#product-3:checked ~ .container #slide3 {
  display: block;
}

.slider-controls label:after {
  content: "";
  
	display: none;
  position: absolute;
  top: 31%;
  left: 30%;
  
  width: 5px;
  height: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;  
	border: 1px solid #000000;
  border-radius: 50%;
	
  background-color: transparent;
	
  z-index: 1;
}
.slider-controls label:first-of-type:after {
	display: block;
}

.slider-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.slider-list b {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.6px;
	color: #000000;
}
.slider-list p {
	margin: 0;
	
	letter-spacing: 0.16px;
}
.slider-list p:first-of-type {
	margin-top: 20px;
}
.slider-list  img {
	float: left;
}
.slider-list li:first-of-type img {
	margin-left: 30px;
}
.slider-list li:nth-of-type(2) img {
	margin-left: 56px;
	margin-top: 13px;
}
.slider-list li:last-of-type img {
	margin-left: -28px;
	padding-top: 68px;
}

.slider-list .slider-description {
	position: relative;
	float: right;
	
	width: 500px;
	padding-top: 80px;
	margin-right: 10px;
	
	z-index: 1;
}
.slider-list .slider-description:before {
	content: " ";
	
	position: absolute;
	top: 38px;
	
	width: 100px;
	height: 7px;
	
	background-color: #ffffff;
}
.slider-list li:first-of-type:after {
	content: "01";
	
	position: absolute;
	right: -12px;
	top: -13px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;
}
.slider-list li:nth-of-type(2):after {
	content: "02";
	
	position: absolute;
	right: -12px;
	top: -13px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;
}
.slider-list li:last-of-type:after {
	content: "03";
	
	position: absolute;
	right: -12px;
	top: -13px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;

}
.slider-list .button {
	margin: 44px 0 47px 0;
}

.slide-item {
	display: none;
	
	height: 500px;
	width: 1050px;
}
.slider-list .slide3 .slider-description {
	width: 505px;
	margin-right: 3px;
}
.slide3 .slider-description p {
	width: 460px;
}


.button {
	display: inline-block;
	
	padding: 7px 42px;	
	border: none;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #f0c52e), color-stop(60%, #f0c52e), color-stop(60%, transparent));
	background-image: -webkit-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	background-image: -o-linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);

	cursor: pointer;
}
.button:hover {
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	
	background-color: #f0c52e;
}
.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.slide-item-properties tbody {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	width: 480px;
	margin-left: -2px;
}
.slide-item-properties tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slide-item-properties tr:first-of-type {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}
.slide-item-properties th:not(:last-of-type) {
	margin-right: 79px;
}
.slide-item-properties td:not(:last-of-type) {
	margin-right: 77px;
}
.slide-item-properties th {
	font-size: 13px;
	font-weight: normal;
}

.slider-list > .slide3 th {
	margin-right: 46px;
}
.slider-list > .slide3 td {
	margin-right: 58px;
}
.slide-item-properties td {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.catalog {
	margin-bottom: 55px;
}
.catalog-main-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	
	width: 1160px;
}
.catalog-main-page {
	padding: 0;
}
.catalog-main-page ul {
	padding: 0;
	margin: 0;
}
.catalog-main-page li {
	list-style: none;
}
.catalog-main-page h3 {
	margin-top: 33px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.3px;
	color: #000000;
}
.order-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
	flex-direction: column;
}
.catalog-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	
	width: 160px;
	height: 160px;
	
	background-color: #f7e296;
}
.catalog-container:hover {
	background-color: #f0c52e;
}
li:nth-of-type(2) .catalog-container img {
	-ms-flex-item-align: end;
	align-self: flex-end;
}
li:nth-of-type(3) .catalog-container img {
	margin-left: 8px;
}
li:nth-of-type(4) .catalog-container img {
	margin-left: 6px;
}
li:nth-of-type(5) .catalog-container img {
	margin-left: 8px;
}
li:nth-of-type(6) .catalog-container img {
	margin-top: 8px;
}
.catalog-main-page h3:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-container:active img {
	opacity: 0.3;
}

.services {
	width: 100%;
	min-width: 1160px;
	margin-bottom: 94px;
	padding-bottom: 115px;
	padding-top: 78px;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ffffff), color-stop(27%, #e5e5e5));
	background-image: -webkit-linear-gradient(#ffffff 27%, #e5e5e5 27%);
  background-image: -o-linear-gradient(#ffffff 27%, #e5e5e5 27%);
	background-image: linear-gradient(#ffffff 27%, #e5e5e5 27%);
}
.services ul {
	padding: 0;
	margin: 0;
}
.services li {
	list-style: none;
}

.services-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	
	width: 1160px;
	margin: 0 auto;
}

.services .services-buttons {
	margin-top: 10px;
}
.services-buttons button {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 26px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 160px;
}

.services-buttons:after {
	content: " ";
	
	position: absolute;
	top: -72px;
	left: 278px;
	
	width: 7px;
	height: 320px;
	
	background-color: #000000;
}
.services .button:active,
.services-buttons .services-active,
.services-buttons .services-active:hover {
	padding-right: 125px;
	
	color: #f7e184;
	background-color: #000000;
	background-image: none;
}

.services .services-description {
	position: relative;

	margin-left: 116px;
	width: 425px;
}

.services-description li {
	position: absolute;
	display: none;
}
.services-description .services-active {
	display: block;
}
.services h3 {
	margin: 0;
  padding: 0;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 1px;
	color: #000000;
}
.services-description p {
	margin-top: 32px;
	margin-bottom: 0;
	
	letter-spacing: 0.24px;
}
.services-description li:nth-of-type(2) p {
	width: 440px;
}
.services-description li:nth-of-type(3) p {
	width: 428px;
}
.services-description  p:not(:first-of-type) {
	padding: 0;
	margin: 0;
}
.services-description li:first-of-type:after {
	content: " ";
	
	position: absolute;
	top: 13px;
	right: -272px;
	
	width: 140px;
	height: 170px;
	
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
}
.services-description li:nth-of-type(2):after {
	content: " ";
	
	position: absolute;
	top: -10px;
	right: -278px;
	
	width: 175px;
	height: 195px;
	
	background-image: url(../img/warranty.svg);
	background-repeat: no-repeat;
}
.services-description li:nth-of-type(3):after {
	content: " ";
	
	position: absolute;
	top: -7px;
	right: -266px;
	
	width: 160px;
	height: 190px;
	
	background-image: url(../img/credit.svg);
	background-repeat: no-repeat;
}

.services + .main-wrapper {
	background-image: none;
}
.brends-logos {
	margin-bottom: 95px;
}
.brends-logos ul {
	padding: 0;
	margin: 0;
}
.brends-logos li {
	list-style: none;
}
.brends-logos img {
	opacity: 0;
}
.brends-logos li:first-of-type {
	background-image: url(../img/logo-1.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(2) {
	background-image: url(../img/logo-2.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(3) {
	background-image: url(../img/logo-3.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(4) {
	background-image: url(../img/logo-4.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:first-of-type:hover {
	background-image: url(../img/logo-1-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(2):hover {
	background-image: url(../img/logo-2-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(3):hover {
	background-image: url(../img/logo-3-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(4):hover {
	background-image: url(../img/logo-4-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
}

.index-columns {
	width: 1160px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	margin-bottom: 82px;
}
.about-us {
	width: 465px;
}
.about-us:before {
	content: " ";
	
	position: absolute;
	top: -12px;
	
	width: 80px;
	height: 7px;
	
	background-color: #000000;
}

.index-columns p {
	letter-spacing: 0.1px;
}
.index-columns p:last-of-type {
	margin: 0;
	padding: 0;
}
.index-columns p:first-of-type {
	margin: 2px 0 30px 0;
}
.about-us p:last-of-type {
	letter-spacing: -0.2px;
}
.about-us ul {
	padding: 0 0 0 20px;
	margin: 66px 0 0 0;
	
	list-style-image: url(../img/list-style.svg);
}
.about-us b {
	padding-left: 17px;
}
.index-columns h2 {
	margin-bottom: 44px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}
.transport li {
	list-style: circle;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.contacts {
	width: 560px;
}
.contacts:before {
	content: " ";
	
	position: absolute;
	top: -12px;
	
	width: 80px;
	height: 7px;
	
	background-color: #000000;
}
.contacts p:last-of-type {
	margin-bottom: 39px;
}
.index-columns .button {
	padding-left: 0;
	padding-right: 0;
	width: 265px;
}
.contacts .button {
	margin-top: 61px;
}
.about-us .button {
	margin-top: 55px;
}

/* Footer */

.main-footer  {
	position: relative;
	
	width: 100%;
	min-width: 1160px;
	
	background-color: #464646;
}
.main-footer li {
	list-style: none;
}

.main-footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	padding: 61px 0 88px 0;
	width: 1160px;
	margin: 0 auto;
	
	color: #ffffff;
}
.footer-user-wrapper,
.conditions-wrapper,
.footer-social-wrapper,
.footer-social-wrapper-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.conditions-wrapper {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.index .user-footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	margin-left: auto;
	margin-bottom: 38px;
	margin-top: 4px;
	width: 325px;
}

.inner .user-footer-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	margin-left: auto;
	margin-bottom: 38px;
	margin-top: 3px;
}

.footer-social-wrapper {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	margin-top: 63px;
}
.footer-social-wrapper-1 {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 142px;
	margin: 0;
	margin-left: 509px;
	padding: 0;
}
.main-footer .copyright {
	margin: 0;
	margin-left: auto;
	padding: 0;
}

.main-footer-logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	color: #ffc600;
	text-transform: uppercase;
}
.main-footer-logo:hover {
	opacity: 0.6;
}
.main-footer-logo:active {
	opacity: 0.3;
}
.main-footer-logo:after {
	content: " ";
	
	position: absolute;
	bottom: 110px;
	
	width: 80px;
	height: 7px;
	
	background-color: #ffc600;
}

.inner .user-footer-navigation {
	padding: 0;
}
.inner .user-footer-navigation li:nth-of-type(2) {
	margin-left: 20px;
}
.inner .user-footer-navigation li:nth-of-type(3) {
	margin-left: 44px;
}
.inner .user-footer-navigation li:nth-of-type(4) {
	margin-left: 44px;
	margin-right: 0;
}

.user-footer-navigation .sign-out a {
	color: rgba(255, 255, 255, 0.3);
}

.user-footer-navigation li:first-of-type {
	position: relative;
	
	padding-left: 26px;
}
.user-footer-navigation li:first-of-type:before {
	content: " ";
	
	position: absolute;
	top: 10px;
	left: 0;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation .compare {
	position: relative;
	
	padding-left: 20px;
}
.user-footer-navigation .compare:before {
	content: " ";
	
	position: absolute;
	top: 10px;
	left: 0px;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation li:last-of-type {
	position: relative;
	
	padding-left: 20px;
}
.user-footer-navigation li:last-of-type:before {
	content: " ";
	
	position: absolute;
	top: 8px;
	left: -2px;
	
	width: 19px;
	height: 17px;
	
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation a {
	color: rgba(255, 255, 255, 0.7);
}
.user-footer-navigation a:hover {
	color: rgba(255, 255, 255, 1);
}
.user-footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-conditions-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 428px;
	padding: 0;
	margin: 0;
	margin-left: 165px;

	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.conditions-wrapper p {
	padding: 0;
	margin: 0;
}
.conditions-wrapper p:last-of-type {
	margin-left: auto;
}
.footer-conditions-menu a {
	color: rgba(255, 255, 255, 1);
}
.footer-conditions-menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.footer-conditions-menu a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social img {
	opacity: 0.3;
}
.footer-social img:hover {
	opacity: 0.6;
}
.footer-social img:active {
	opacity: 0.1;
}

.copyright img {
	opacity: 1;
}
.copyright img:hover {
	opacity: 0.6;
}
.copyright img:active {
	opacity: 0.3;
}
/* Modal */
.modal {
	position: fixed;
	
	-webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
}
.modal-connect {
	display: none;
	top: 50px;
	left: 50%;
	
	width: 760px;
	padding: 95px 100px 85px 100px;
	margin-left: -480px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	
	z-index: 30;
}
.modal-map p,
.modal-connect p {
	margin: 0;
}
.modal-connect p:last-of-type {
	margin-top: 31px;
}
.modal-close {
	position: absolute;
	top: 24px;
	right: 21px;
	
  width: 55px;
  height: 55px;
  border: 0;
	border-radius: 50%;

  font-size: 0;
  background-color: #f0c52e;
	opacity: 0.5;

  cursor: pointer;
}
.modal-close:hover {
	opacity: 1;
}
.modal-close:active {
	opacity: 0.3;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
	right: 12px;
	top: 28px;
	
  width: 30px;
  height: 2px;

  background-color: #ffffff;
}
.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.communication-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.communication-form .button {
	margin-top: 34px;
	padding: 7px 0;
	width: 200px;
}
.communication-item input::-webkit-input-placeholder,
.communication-item textarea::-webkit-input-placeholder,
.communication-item input::-moz-placeholder,
.communication-item textarea::-moz-placeholder,
.communication-item input:-moz-placeholder,
.communication-item textarea:-moz-placeholder,
.communication-item input:-ms-input-placeholder,
.communication-item textarea:-ms-input-placeholder {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(70, 70, 70, 0.4);
}
.communication-item input:focus:required:invalid, 
textarea:focus:required:invalid {
	background-color: rgba(237, 181, 181, 0.5);
}
.communication-item input {
	width: 360px;
}
.communication-item:nth-of-type(2) {
	margin-left: auto;
}
.communication-item textarea {
	width: 760px;
	height: 155px;
}
.communication-item input, textarea {
	margin-top: 10px;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	
	background-color: #f2f2f2;
}
.communication-item input:hover, textarea:hover {
	background-color: #ebebeb;
}
.communication-item input:focus, textarea:focus {
	outline: 3px solid rgba(240, 197, 46, 0.5);
	
	background-color: transparent;
}

.modal-map {
	display: none;
  top: 50%;
  left: 50%;
	
	margin-left: -480px;
	margin-top: -280px;
  width: 960px;
  height: 560px;
	
	z-index: 30;
}

/* inner */


.container h1 {
	margin-top: 37px;
	margin-bottom: 24px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.6px;
	color: #000000;
} 
.breadcrumbs {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 385px;
	padding: 0;
	margin: 0;
	margin-bottom: 47px;
}
.breadcrumbs li {
	list-style: none;
}
.breadcrumbs li,
.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: 0.3px;
}
.breadcrumbs li:nth-of-type(2):before {
  content: " ";
	
  position: absolute;
  top: 11px;
  left: 66px;
	
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 4px;
  height: 4px; 
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  -webkit-transform: skew(-45deg, 45deg);
  -ms-transform: skew(-45deg, 45deg);
  transform: skew(-45deg, 45deg);
}
.breadcrumbs li:nth-of-type(3):before {
  content: " ";
	
  position: absolute;
  top: 11px;
  left: 218px;
	
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 4px;
  height: 4px; 
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  -webkit-transform: skew(-45deg, 45deg);
  -ms-transform: skew(-45deg, 45deg);
  transform: skew(-45deg, 45deg);
}


.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	width: 1160px;
	margin: 0 auto;
}

.filtres {
	width: 328px;
}
.filtres h2 {
	position: relative;
	
	-webkit-box-sizing: border-box;
  box-sizing: border-box;
	padding: 0;
	margin: 0;
	padding: 22px 0;
	padding-left: 60px;
	height: 70px;
	
	background-color: #dbdbdb;
}
.filtres h2:before {
	content: " ";
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	width: 10000px;
	height: 70px;
		
	background-color: #dbdbdb;
}
.filtres h2, .sorting h2 {
	font-family: "Gilroy ExtraBold";
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	color: #000000;
}

.filtres-wrapper {
	position: relative;
	
	padding: 0;
	padding-top: 80px;
	margin-left: 45px;
	width: 200px;
}
.filtres-wrapper:before {
	content: " ";
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	width: 10000px;
	height: 1254px;
	
	background-color: #efefef;
}
.filtres ul {
	margin: 0;
	padding: 0;
}

.add-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	width: 832px;
} 

.filtres, .sorting {
	background-color: #efefef;
}
.filter li {
	list-style: none;
}
.filter fieldset {
	border: none;
}
.filter legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #000000;
}
.filter li {
	color: #000000;
	font-size: 14px;
	line-height: 40px;
}
.filter input:disabled + label {
	color: #a6a6a6;
}

.filter-cost {
	margin-bottom: 10px;
}
.filter-cost:before {
	content: " ";
	
	position: absolute;
	top: 67px;
	
	width: 202px;
	height: 2px;
	
	background-color: #000000;
}
.range-controls {
	position: relative;
	
	margin: 19px 0 25px -5px;
	height: 2px;
	width: 206px;
	
	background-color: rgba(0, 0, 0, 0.1);
}
.range-controls .bar {
  width: 64%;
  height: 2px;

	background-color: #91c92f;
}
.range-controls span {
	position: absolute;
	top: 11px;
	left: 6px;
	
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	
	color: rgba(0, 0, 0, 0.2);
}
.range-controls span:last-child {
	left: 47%;
}
.range-toggle {
	position: absolute;
  top: -9px;
	
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
	border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  background-color: #ababab;
	
  cursor: pointer;
}
.range-toggle:active {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 55%;
}

fieldset:nth-of-type(2) legend {
	padding-top: 45px;
}
fieldset:nth-of-type(2) legend:before {
	content: " ";
	
	position: absolute;
	top: 207px;
	
	width: 202px;
	height: 2px;
	
	background-color: #000000;
}
fieldset:nth-of-type(2) ul {
	padding-top: 12px;
}
fieldset:last-of-type legend {
	padding-top: 35px;
}
fieldset:last-of-type legend:before {
	content: " ";
	
	position: absolute;
	top: 492px;
	
	width: 202px;
	height: 2px;
	
	background-color: #000000;
}
.filter-input-checkbox,
.filter-input-radio {
	padding-left: 40px;
}
fieldset:last-of-type label[for="bluetooth-yes"] {
	display: inline-block;
	
	vertical-align: top;
	padding-top: 10px;
}

fieldset li {
	position: relative;
}
.filter-option input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
  top: 7px;
  left: 0;
	
	width: 23px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.filter-option input[type="checkbox"]:focus + .checkbox-indicator,
.filter-option input[type="radio"]:focus + .radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-option input[type="checkbox"]:hover + .checkbox-indicator,
.filter-option input[type="radio"]:hover + .radio-indicator {
  opacity: 0.6;
}
.filter-option label, input {
	cursor: pointer;
}
.filter-option input:hover,
.filter-option input:focus {
	opacity: 0.6;
}
.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
	width: 27px;
	height: 23px;
	
	background-image: url(../img/checkbox-on.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.filter-option input[type="radio"] + .radio-indicator {
	position: absolute;
  top: 17px;
  left: 0;
	
	width: 18px;
	height: 18px;
	border: 4px solid #000000;
	border-radius: 50%;
}
.filter-option:last-of-type input[type="radio"] + .radio-indicator:last-of-type {
	top: 7px;
}
.filter-option input[type="radio"]:checked + .radio-indicator:after {
	content: " ";
	
	position: absolute;
	left: 50%;
	top: 50%;
	
	margin-left: -4.2px;
	margin-top: -4px;
	width: 9px;
	height: 9px;
	
	background-color: #000000;
	border-radius: 50%;
}

.filter .button {
	margin: 24px 0 0 13px;
}


.sorting {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 0 0px 73px;
	height: 70px;
	
}
.sorting:after {
	content: " ";
	
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	width: 10000px;
	height: 70px;
	
	background-color: #efefef;
}
.sorting h2 {
	margin: 0;
	margin-right: 50px;
}
.sorting ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 287px;
	padding: 0;
	padding-bottom: 6px;
	margin: 0;
}
.sorting .sorting-plus:before {
  content: " ";
	
	display: block;
  position: absolute;
  top: 19px;
  left: 94.5%; 
	
  border: 10px solid #000;
  -webkit-transform: scaleX(0.6);
  -ms-transform: scaleX(0.6);
  transform: scaleX(0.6);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
	
	opacity: 0.2;
	
	cursor: pointer;
}
.sorting .sorting-minus:after {
  content: " ";
	
	display: block;
	cursor: pointer;
  position: absolute;
  top: 29px;
  left: 98.2%; 
	
  border: 10px solid #000;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.sorting .sorting-minus:hover:after {
	opacity: 0.4;
}
.sorting .sorting-plus:hover:before {
	opacity: 0.4;
}
.sorting .sorting-minus:active:after {
	opacity: 0.2;
}
.sorting .sorting-plus:active:before {
	opacity: 0.2;
}

.sorting li {
	list-style: none;
}
.sorting a {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans Regular";
	font-size: 14px;
	line-height: 18px;
}
.sorting a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.sorting a.current {
	color: rgba(0, 0, 0, 1);
}

.sorting a:active {
	color: rgba(0, 0, 0, 1);
}
.selfy-catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 760px;	
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-bottom: 35px;
}
.selfy-catalog-item  {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
	flex-direction: column;
	
	width: 360px;
	margin-top: 67px;
	
	list-style: none;
}
.selfy-catalog-item:last-of-type,
.selfy-catalog-item:nth-last-of-type(2) {
	margin-top: 45px;
}
.selfy-catalog-item:last-of-type .selfy-catalog-wrapper:before {
	content: "New";
	
	position: absolute;
	top: 50px;
	right: 40px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.1);
}
.selfy-catalog-item:last-of-type .selfy-catalog-wrapper:after {
	content: " ";
		
	position: absolute;
	top: 30px;
	right: 27px;
	
	width: 55px;
	height: 55px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
.flex-capture {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.selfy-catalog-item a {
	color: #000000;
}
.description {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1; 
	
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
}

.cost {
	margin: 20px 0;
	padding: 0;
	margin-left: auto;
	
	font-size: 17px;
}

.selfy-catalog-item h3 {
	padding-top: 23px;
	margin: 0;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.selfy-catalog-item:first-of-type h3 {
	letter-spacing: 0.2px;
}
.selfy-catalog-item:nth-of-type(2) h3 {
	letter-spacing: 0.3px;
}
.selfy-catalog-item:nth-last-of-type(2) h3 {
	letter-spacing: 0.1px;
}
.selfy-catalog-item:last-of-type h3 {
	letter-spacing: 0.4px;
}

.selfy-catalog-item .hover {
	opacity: 0;
}

.selfy-catalog-item .selfy-catalog-wrapper {
	position: relative;
}

.selfy-catalog-item .catalog-hover {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	
	margin-left: -100px;
	margin-top: -20px;
}
.selfy-catalog-wrapper:hover .catalog-hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.selfy-catalog-wrapper:hover img {
	background-color: #eeeeee;
	opacity: 0.7;
}
.selfy-catalog-wrapper:hover .hover {
	opacity: 1;
}
.selfy-catalog-item .compare {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	line-height: 30px;
}
.selfy-catalog-item .compare:hover {
	color: rgba(0, 0, 0, 1);
}
.selfy-catalog-item .compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	
	width: 760px;
	margin-bottom: 75px;
	margin-left: auto;
}

.pagination,
.pagination-button {
	border: none;
	
	background-color: #ebebeb;
}

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
	width: 90px;
	margin-left: 10px;
	padding: 0;
}
.pagination-list li {
	list-style: none;
}	
.pagination-list a,
.pagination-button {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	color: #000000;
}
.pagination-button {
	outline: none;
	padding: 24px 30px;
	
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.pagination .pagination-button:hover,
.pagination-button:focus {
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination .pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-button-back {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
}
.pagination-button-next {
	padding-right: 25px;
}
 
.pagination-list a {
	color: rgba(0, 0, 0, 0.3);
}
.pagination-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.pagination-list a.pagination-item-current {
	color: rgba(0, 0, 0, 1);
}
.pagination-item a:active {
	color: rgba(0, 0, 0, 1);
}