@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/opensans.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	
	background-color: #ffffff;
}

.inner {
	overflow-x: hidden;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.main-header {
	width: 1160px;
	margin: 0 auto;
	
	background-image: linear-gradient(#ffffff 11%, #f7e296 11%);
}
.header-wrapper {
	width: 1040px;
	margin: 0 auto;
}
.main-header-logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.search {
	position: relative;
	padding-left: 30px;
}
.search:before {
	content: " ";
	position: absolute;
	top: 8px;
	left: 0px;
	width: 23px;
	height: 23px;
	
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.search input {
	background-color: transparent;
	border: 2px solid transparent;
	
	color: #000000;
}
.search input:focus {
	outline: none;
	border-bottom: 2px solid #000000;
}
.search input[type="submit"] {
	display: none;
}
.search input[type="text"]:focus + input[type="submit"] {
	display: block;
	border: 2px solid #000000;
	cursor: pointer;
}
.search input[type="text"]:focus + input[type="submit"]:hover {
	background-color: #000000;
	color: rgba(255, 255, 255, 1);
}
.search input[type="submit"]:active {
	display: block;
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}

.search input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search input:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
}
.search input:hover::-webkit-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
}
.search input:hover:-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.6);
}

.main-navigation {
	padding-top: 47px;
	padding-bottom: 50px;
	
}
.main-navigation .container {
	display: flex;
	width: 1040px;
	margin: auto;
}
.main-navigation ul {
	padding: 0;
	margin: 0;
}
.site-header-navigation  {
	margin-top: 45px;
	display: flex; 
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.site-header-navigation .catalog-navigation {
	display: none;
	width: 1100px;
	padding: 24px 0 34px 60px;
	margin-left: -60px;
	
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	background-color: #f7e296;
	color: #000000;
	letter-spacing: 0;
	text-transform: none;
}
.add-menu:hover .catalog-navigation {
	position: absolute;
	display: flex;
	align-items: flex-start;
	
	z-index: 2;
}
.catalog-navigation div:first-of-type {
	margin-right: 35px;
} 
.catalog-navigation div:nth-of-type(2) {
	margin-right: 70px;
}


.site-header-navigation .add-menu {
	position: relative;
	margin-right: 284px;
	padding-right: 30px;
}
.site-header-navigation .add-menu:after {
	content: " ";
	position: absolute;
	top: 5px;
	right: 0;
	width: 20px;
	height: 20px;
	
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
.site-header-navigation li:nth-of-type(2) {
	margin-right: 35px;
}
.site-header-navigation li:nth-of-type(3) {
	margin-right: 110px;
}


.user-header-navigation,
.site-header-navigation,
.catalog-navigation {
	list-style: none;
}

.user-header-navigation a,
.site-header-navigation a,
.catalog-navigation a {
	color: #000000;
}
.user-header-navigation .sign-out a:hover {
	color: rgba(0, 0, 0, 1);
}
.user-header-navigation .sign-out a:active {
	color: rgba(0, 0, 0, 0.6);
}

.main-header a:hover,
.main-header a:focus {
	color: rgba(0, 0, 0, 0.6);
}
.main-header a:active {
	color: rgba(0, 0, 0, 0.3);
}

form + .user-header-navigation {
	display: flex;
	margin-left: auto;
	width: 500px;
	
	font-size: 15px;
	line-height: 30px;
}
.user-header-navigation li:first-of-type {
	padding-left: 25px;
	position: relative;
}
.user-header-navigation li:first-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation li:nth-of-type(2) {
	margin-left: 236px;
}
.user-header-navigation li:last-of-type {
	position: relative;
	margin-left: 40px;
	padding-left: 20px;
}
.user-header-navigation li:last-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation li.sign-out {
	margin-left: 20px;
}
.user-header-navigation .compare {
	position: relative;
	margin-left: 65px;
	padding-left: 20px;
}
.user-header-navigation .compare:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0px;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-header-navigation .sign-out a {
	color: rgba(0, 0, 0, 0.3);
}
.user-header-navigation li:first-of-type:hover:before,
.user-header-navigation .compare:before,
.user-header-navigation li:last-of-type:hover:before,
.user-footer-navigation li:first-of-type:hover:before,
.user-footer-navigation .compare:hover:before,
.user-footer-navigation li:last-of-type:hover:before {
	opacity: 0.6;
}
.user-header-navigation li:first-of-type:hover:active,
.user-header-navigation .compare:hover:active,
.user-header-navigation li:last-of-type:hover:active,
.user-footer-navigation li:first-of-type:hover:active,
.user-footer-navigation .compare:hover:active,
.user-footer-navigation li:last-of-type:hover:active {
	opacity: 0.3;
}

/* Main */
.main-wrapper {
	width: 1160px;
	margin: 0 auto;
}
.index .main-wrapper {
	padding-top: 60px;
	background-image: linear-gradient(#f7e296 19.5%, #ffffff 19.5%);
}
.content-wrapper {
	width: 1040px;
	margin: 0 auto;
}
.slider {
	position: relative;
	
	margin: 0 auto;
	margin-bottom: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 170px;
  right: 0;
  z-index: 20;
  
  font-size: 0;
}
.slider-controls label {
	position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 18px;

  vertical-align: top;

	box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .container #slide1,
#product-2:checked ~ .container #slide2,
#product-3:checked ~ .container #slide3 {
  display: block;
}

.slider-controls label:after {
  content: "";
  
	display: block;
	opacity: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
  
  width: 5px;
  height: 5px;
	box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #000000;
  
  border-radius: 50%;
}
#product-1:checked ~ .slider-controls label:first-of-type:after,
#product-2:checked ~ .slider-controls label:nth-of-type(2):after,
#product-3:checked ~ .slider-controls label:last-of-type:after {
	opacity: 1;
}

.slider-list {
	
	display: flex;
	flex-direction: column;
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.slider-list b {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
}
.slider-list img {
	float: left;
}
.slider-list li:last-of-type img {
	padding-top: 70px;
}
.slider-list .slider-description:before {
	content: " ";
	
	position: absolute;
	top: 30px;
	
	width: 100px;
	height: 10px;
	background-color: #ffffff;
}
.slider-list li:first-of-type:after {
	content: "01";
	
	position: absolute;
	right: -15px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;
}
.slider-list li:nth-of-type(2):after {
	content: "02";
	
	position: absolute;
	right: -15px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;
}
.slider-list .slider-description {
	position: relative;
	
	z-index: 1;
}
.slider-list li:last-of-type:after {
	content: "03";
	
	position: absolute;
	right: -15px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 180px;
	line-height: 180px;
	color: #ffffff;

}
.slider-description {
	width: 500px;
	float: right;
	padding-top: 85px;
}

.slide-item {
	display: none;
	height: 500px;
	width: 1050px;
}

.button {
	display: inline-block;
	padding: 7px 42px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	
	background-color: transparent;
	background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
	border: none;
	cursor: pointer;
}
.button:hover {
	transition-property: background-color;
	transition-duration: 0.4s;
	background-color: #f0c52e;
}
.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.slide-item-properties tbody {
	display: flex;
	width: 480px;
	flex-direction: column;
}
.slide-item-properties tr {
	display: flex;
}
.slide-item-properties tr:first-of-type {
	order: 1;
}
.slide-item-properties th {
	margin-right: 52px;
}
.slide-item-properties td {
	margin-right: 60px;
}
.slide-item-properties th {
	font-weight: normal;
}

.slide3 th {
	margin-right: 30px;
}
.slide-item-properties td {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.catalog {
	margin-bottom: 82px;
}
.catalog-main-page {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1160px;
}
.catalog-main-page {
	padding: 0;
}
.catalog-main-page ul {
	padding: 0;
	margin: 0;
}
.catalog-main-page li {
	list-style: none;
}
.catalog-main-page h3 {
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.order-1 {
	display: flex;
	flex-direction: column;
}
.catalog-container {
	display: flex;
	align-items: center;
	justify-content: center;
	order: -1;
	
	background-color: #f7e296;
	width: 160px;
	height: 160px;
}
.catalog-container:hover {
	background-color: #f0c52e;
}
.catalog-main-page h3:active {
	color: rgba(0, 0, 0, 0.3);
}
.catalog-container:active img {
	opacity: 0.3;
}

.services {
	width: 100%;
	margin-bottom: 95px;
	padding-bottom: 145px;
	padding-top: 80px;

	background-image: linear-gradient(#ffffff 25%, #e5e5e5 25%);
}
.services ul {
	padding: 0;
	margin: 0;
}
.services li {
	list-style: none;
}

.services-wrapper {
	position: relative;
	
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.services .services-buttons {
	margin-top: 10px;
}
.services-buttons button {
	padding-left: 0;
	padding-right: 0;
	box-sizing: content-box;
	width: 160px;
	margin-bottom: 30px;
}

.services-buttons:after {
	content: " ";
	
	position: absolute;
	top: -80px;
	left: 285px;
	
	width: 10px;
	height: 320px;
	background-color: #000000;
}
.services .button:active,
.services-buttons .services-active,
.services-buttons .services-active:hover {
	padding-right: 125px;
	
	color: #f7e184;
	background-color: #000000;
	background-image: none;
}

.services .services-description {
	position: relative;

	margin-left: 105px;
	
	width: 425px;
}
.services-description li {
	position: absolute;
	display: none;
}
.services-description .services-active {
	display: block;
}
.services h3 {
	margin: 0;
  padding: 0;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}
.services-description li:first-of-type:after {
	content: " ";
	
	position: absolute;
	top: 0;
	right: -280px;
	
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
	width: 140px;
	height: 170px;
}
.services-description li:nth-of-type(2):after {
	content: " ";
	
	position: absolute;
	top: -20px;
	right: -280px;
	
	background-image: url(../img/warranty.svg);
	background-repeat: no-repeat;
	width: 175px;
	height: 195px;
}
.services-description li:nth-of-type(3):after {
	content: " ";
	
	position: absolute;
	top: -30px;
	right: -280px;
	
	background-image: url(../img/credit.svg);
	background-repeat: no-repeat;
	width: 160px;
	height: 190px;
}

.services + .main-wrapper {
	background-image: none;
}
.brends-logos {
	margin-bottom: 95px;
}
.brends-logos ul {
	padding: 0;
	margin: 0;
}
.brends-logos li {
	list-style: none;
}
.brends-logos img {
	opacity: 0;
}
.brends-logos li:first-of-type {
	background-image: url(../img/logo-1.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(2) {
	background-image: url(../img/logo-2.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(3) {
	background-image: url(../img/logo-3.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:nth-of-type(4) {
	background-image: url(../img/logo-4.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}
.brends-logos li:first-of-type:hover {
	background-image: url(../img/logo-1-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(2):hover {
	background-image: url(../img/logo-2-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(3):hover {
	background-image: url(../img/logo-3-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos li:nth-of-type(4):hover {
	background-image: url(../img/logo-4-color.png);
	background-repeat: no-repeat;
	opacity: 1;
}
.brends-logos ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.index-columns {
	width: 1160px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 93px;
}
.about-us {
	width: 475px;
}
.about-us:before {
	content: " ";
	
	position: absolute;
	top: -20px;
	
	width: 80px;
	height: 10px;
	background-color: #000000;
}
.about-us p:first-of-type {
	margin: 0 0 40px 0;
}
.about-us p:last-of-type {
	margin: 0;
	padding: 0;
}
.about-us ul {
	padding: 0 0 0 20px;
	margin: 67px 0 0 0;
	
	list-style-image: url(../img/list-style.svg);
}
.about-us h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}
.transport li {
	list-style: circle;
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.contacts {
	width: 560px;
}
.contacts:before {
	content: " ";
	
	position: absolute;
	top: -20px;
	
	width: 80px;
	height: 10px;
	background-color: #000000;
}
.contacts h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}
.contacts p:last-of-type {
	margin: 0 0 44px 0;
	padding: 0;
}

.index-columns .button {
	padding-left: 0;
	padding-right: 0;
	width: 265px;
}
.contacts .button {
	margin-top: 70px;
}
.about-us .button {
	margin-top: 58px;
}

/* Footer */

.main-footer  {
	position: relative;
	
	width: 100%;
	
	background-color: #464646;
}
.main-footer li {
	list-style: none;
}

.main-footer-wrapper {
	padding: 63px 0;
	color: #ffffff;
	width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.footer-user-wrapper,
.conditions-wrapper,
.footer-social-wrapper,
.footer-social-wrapper-1 {
	display: flex;
}
.conditions-wrapper {
	justify-content: space-between;
}
.index .user-footer-navigation {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	width: 300px;
	margin-bottom: 30px;
}

.inner .user-footer-navigation {
	display: flex;
	margin-left: auto;
	margin-bottom: 30px;
}


.footer-conditions-menu {
	display: flex;
	width: 440px;
	justify-content: space-between;
}
.footer-social-wrapper {
	justify-content: center;
}
.footer-social-wrapper-1 {
	width: 142px;
	justify-content: space-between;
	margin-left: 509px;
}
.main-footer .copyright {
	margin-left: auto;
}

.main-footer-logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	color: #ffc600;
	text-transform: uppercase;
}
.main-footer-logo:hover {
	opacity: 0.6;
}
.main-footer-logo:active {
	opacity: 0.3;
}
.main-footer-logo:after {
	content: " ";
	
	position: absolute;
	bottom: 80px;
	
	width: 80px;
	height: 10px;
	background-color: #ffc600;
}

.inner .user-footer-navigation {
	padding: 0;
}
.inner .user-footer-navigation li:nth-of-type(2) {
	margin-left: 20px;
}
.inner .user-footer-navigation li:nth-of-type(4) {
	margin-left: 35px;
	margin-right: 0;
}

.user-footer-navigation .compare {
	margin-left: 35px;
}
.user-footer-navigation .sign-out a {
	color: rgba(255, 255, 255, 0.3);
}

.user-footer-navigation li:first-of-type {
	padding-left: 25px;
	position: relative;
}
.user-footer-navigation li:first-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/user-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation .compare {
	position: relative;
	padding-left: 20px;
}
.user-footer-navigation .compare:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0px;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/compare-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation li:last-of-type {
	position: relative;
	padding-left: 20px;
	margin-left: 20px;
}
.user-footer-navigation li:last-of-type:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	width: 19px;
	height: 17px;
	
	background-image: url(../img/cart-footer.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.user-footer-navigation a {
	color: rgba(255, 255, 255, 0.7);
}
.user-footer-navigation a:hover {
	color: rgba(255, 255, 255, 1);
}
.user-footer-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-conditions-menu {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.footer-conditions-menu a {
	color: rgba(255, 255, 255, 1);
}
.footer-conditions-menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.footer-conditions-menu a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social img {
	opacity: 0.3;
}
.footer-social img:hover {
	opacity: 0.6;
}
.footer-social img:active {
	opacity: 0.1;
}

.copyright img:hover {
	opacity: 0.6;
}
.copyright img:active {
	opacity: 0.3;
}
/* Modal */
.modal {
	position: fixed;
	
	box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
}
.modal-connect {
	top: 50px;
	bottom: 50px;
	left: 50%;
	width: 760px;
	padding: 95px 100px 85px 100px;
	margin-left: -480px;
	
	display: none;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	
	z-index: 30;
}
.modal-close {
	position: absolute;
	top: 25px;
	right: 25px;
	
  width: 60px;
  height: 60px;

  font-size: 0;

  background-color: #f0c52e;
	opacity: 0.5;
  border: 0;
	border-radius: 50%;

  cursor: pointer;
}
.modal-close:hover {
	opacity: 1;
}
.modal-close:active {
	opacity: 0.3;
}
.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
	right: 12px;
	top: 29px;
	
  width: 35px;
  height: 2px;

  background-color: #ffffff;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.communication-form {
	display: flex;
	flex-wrap: wrap;
}
.communication-item input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(70, 70, 70, 0.4);
}
.communication-item input:focus:required:invalid, 
textarea:focus:required:invalid {
	background-color: rgba(237, 181, 181, 0.5);
}
.communication-item input {
	width: 360px;
}
.communication-item:nth-of-type(2) {
	margin-left: auto;
}
.communication-item textarea {
	width: 760px;
	height: 155px;
}
.communication-item input, textarea {
	margin-top: 10px;
	padding: 15px 20px;
	box-sizing: border-box;
	
	border: none;
	background-color: #f2f2f2;
}
.communication-item input:hover, textarea:hover {
	background-color: #ebebeb;
}
.communication-item input:focus, textarea:focus {
	outline: 3px solid rgba(240, 197, 46, 0.5);
	background-color: transparent;
}

.modal-map p {
	margin: 0;
}
.modal-map {
  top: 50%;
  left: 50%;
	margin-left: -480px;
	margin-top: -280px;
	
	display: none;

  width: 960px;
  height: 560px;
	
	z-index: 30;
}

/* inner */

.container h1 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
} 
.breadcrumbs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 385px;
	justify-content: space-between;
	
	padding: 0;
	margin: 0;
	margin-bottom: 47px;
}
.breadcrumbs li {
	list-style: none;
}
.breadcrumbs li,
.breadcrumbs a {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs li:nth-of-type(2):before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 70px;
  box-sizing: border-box;
  width: 4px;
  height: 4px; 
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: skew(-45deg, 45deg);
}
.breadcrumbs li:nth-of-type(3):before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 220px;
  box-sizing: border-box;
  width: 4px;
  height: 4px; 
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: skew(-45deg, 45deg);
}


.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.filtres {
	width: 330px;
}
.filtres h2 {
	position: relative;
	
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	padding: 25px 0;
	padding-left: 60px;
	height: 74px;
	
	background-color: #dbdbdb;
}
.filtres h2:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #dbdbdb;
	transform: translateX(-100%);
	width: 10000px;
	height: 74px;
	
}
.filtres h2, .sorting h2 {
	font-family: "Gilroy ExtraBold";
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.2px;
	color: #000000;
}

.filtres-wrapper {
	position: relative;
	
	padding: 0;
	padding-top: 80px;
	margin-left: 45px;
	width: 200px;
}
.filtres-wrapper:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #efefef;
	transform: translateX(-100%);
	width: 10000px;
	height: 1254px;
}
.filtres ul {
	margin: 0;
	padding: 0;
}

.add-container {
	display: flex;
	flex-direction: column;
	width: 820px;
} 

.filtres, .sorting {
	background-color: #efefef;
}
.filter li {
	list-style: none;
}
.filter fieldset {
	border: none;
}
.filter legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.filter li {
	color: #000000;
	font-size: 14px;
	line-height: 40px;
}
.filter input:disabled + label {
	color: #a6a6a6;
}

.filter-cost {
	margin-bottom: 10px;
}
.filter-cost:before {
	content: " ";
	
	position: absolute;
	top: 70px;
	
	width: 200px;
	height: 3px;
	
	background-color: #000000;
}
.range-controls {
	position: relative;
	margin: 30px 0 25px -5px;
	height: 2px;

	background-color: rgba(0, 0, 0, 0.1);
}
.range-controls .bar {
  width: 60%;
  height: 2px;

	background-color: #91c92f;
}
.range-controls span {
	position: absolute;
	top: 10px;
	
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	
	color: rgba(0, 0, 0, 0.2);
}
.range-controls span:last-child {
	left: 50%;
}
.range-toggle {
	position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
	border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:active {
	transform: scale(1.1);
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 60%;
}

fieldset:nth-of-type(2) legend {
	padding-top: 50px;
}
fieldset:nth-of-type(2) legend:before {
	content: " ";
	
	position: absolute;
	top: 225px;
	
	width: 200px;
	height: 3px;
	
	background-color: #000000;
}
fieldset:last-of-type legend {
	padding-top: 50px;
}
fieldset:last-of-type legend:before {
	content: " ";
	
	position: absolute;
	top: 515px;
	
	width: 200px;
	height: 3px;
	
	background-color: #000000;
}
.filter-input-checkbox,
.filter-input-radio {
	padding-left: 40px;
}

fieldset li {
	position: relative;
}
.filter-option input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
  top: 7px;
  left: 0;
	width: 23px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-position: center;
	background-repeat: no-repeat;
}
.filter-option input[type="checkbox"]:focus + .checkbox-indicator,
.filter-option input[type="radio"]:focus + .radio-indicator {

  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-option input[type="checkbox"]:hover + .checkbox-indicator,
.filter-option input[type="radio"]:hover + .radio-indicator {
  opacity: 0.6;
}
.filter-option label, input {
	  cursor: pointer;
}
.filter-option input:hover,
.filter-option input:focus {
	opacity: 0.6;
}
.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
	width: 27px;
	height: 23px;
	
	background-image: url(../img/checkbox-on.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.filter-option input[type="radio"] + .radio-indicator {
	position: absolute;
  top: 7px;
  left: 0;
	width: 21px;
	height: 21px;

	border: 4px solid #000000;
	border-radius: 50%;
}
.filter-option input[type="radio"]:checked + .radio-indicator:after {
	content: " ";
	
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5.2px;
	margin-top: -6.2px;
	
	width: 11px;
	height: 11px;
	background-color: #000000;
	border-radius: 50%;
}


.sorting {
	position: relative;
	
	display: flex;
	
	box-sizing: border-box;
	padding: 23px 0 27px 70px;
	align-items: baseline;
	height: 74px;
	
}
.sorting:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #efefef;
	transform: translateX(100%);
	width: 10000px;
	height: 74px;
}
.sorting h2 {
	margin: 0;
	margin-right: 45px;
}
.sorting ul {
	display: flex;
	width: 290px;
	justify-content: space-between;
	
	padding: 0;
	margin: 0;
}
.sorting .sorting-plus:before {
  content: " ";
	display: block;
	cursor: pointer;
  position: absolute;
  top: 23px;
  left: 94%; 
  border: 10px solid #000;
	opacity: 0.2;
  transform: scaleX(0.5);
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.sorting .sorting-minus:after {
  content: " ";
	display: block;
	cursor: pointer;
  position: absolute;
  top: 32px;
  left: 98%; 
  border: 10px solid #000;
  transform: scaleX(0.5);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.sorting .sorting-minus:hover:after {
	opacity: 0.4;
}
.sorting .sorting-plus:hover:before {
	opacity: 0.4;
}
.sorting .sorting-minus:active:after {
	opacity: 0.2;
}
.sorting .sorting-plus:active:before {
	opacity: 0.2;
}

.sorting li {
	list-style: none;
}
.sorting a {
	color: rgba(0, 0, 0, 0.3);
	font-family: "Open Sans Regular";
	font-size: 14px;
	line-height: 18px;
}
.sorting a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.sorting a.current {
	color: rgba(0, 0, 0, 1);
}

.sorting a:active {
	color: rgba(0, 0, 0, 1);
}
.selfy-catalog-list {
	display: flex;
	flex-wrap: wrap;
	width: 760px;	
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-bottom: 70px;
	justify-content: space-between;

}
.selfy-catalog-item  {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 360px;
	margin-top: 70px;
	
	list-style: none;
}
.selfy-catalog-item:last-of-type .selfy-catalog-wrapper:before {
	content: "New";
	
	position: absolute;
	top: 50px;
	right: 38px;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.1);
}
.selfy-catalog-item:last-of-type .selfy-catalog-wrapper:after {
	content: " ";
		
	position: absolute;
	top: 30px;
	right: 25px;
	
	width: 55px;
	height: 55px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
.flex-capture {
	display: flex;
}

.selfy-catalog-item a {
	color: #000000;
}
.description {
	order: 1; 
	
	display: flex;
}

.cost {
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.selfy-catalog-item h3 {
	padding: 0;
	margin: 0;
	
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.selfy-catalog-item .hover {
	opacity: 0;
}

.selfy-catalog-item .selfy-catalog-wrapper {
	position: relative;
}

.selfy-catalog-item .catalog-hover {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -20px;
}
.selfy-catalog-wrapper:hover .catalog-hover {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.selfy-catalog-wrapper:hover img {
	background-color: #eeeeee;
	opacity: 0.7;
}
.selfy-catalog-wrapper:hover .hover {
	opacity: 1;
}
.selfy-catalog-item .compare {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	line-height: 30px;
}
.selfy-catalog-item .compare:hover {
		color: rgba(0, 0, 0, 1);
}
.selfy-catalog-item .compare:active {
		color: rgba(0, 0, 0, 0.2);
}

.pagination {
	display: flex;
	width: 700px;
	justify-content: space-between;
	
	margin-bottom: 80px;
	margin-left: auto;
}

.pagination,
.pagination-button {
	background-color: #ebebeb;
	
	border: none;
}

.pagination {
	width: 760px;
}
.pagination-list {
	display: flex;
	width: 90px;
	justify-content: space-between;
	align-items: center;
	
	margin: 0;
	padding: 0;
}
.pagination-list li {
	list-style: none;
}	
.pagination-list a,
.pagination-button {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.2px;
	color: #000000;
}
.pagination-button {
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	padding: 35px 30px;
}
.pagination .pagination-button:hover,
.pagination-button:focus {
	background-color: rgba(0, 0, 0, 0.08);
}
.pagination .pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-button-back {
	order: -1;
}

.pagination-list a {
	color: rgba(0, 0, 0, 0.3);
}
.pagination-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.pagination-list a.pagination-item-current {
	color: rgba(0, 0, 0, 1);
}
.pagination-item a:active {
	color: rgba(0, 0, 0, 1);
}